/* *{
    border:solid 3px orange; 
}*/
html {
    font-family: 'Montserrat', sans-serif;
   
}

body {
    margin: 0;
    box-sizing: border-box;
    /* background-color: #efefef; */
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    
}

header {
    background-color: #7976b2;
    color: #ffffff;
    padding: 2rem 1rem;
    width: 100%;
    display: inline-block;
    }

header h1 {
    font-size: 3rem;
    text-align: center;
}
/* 
/* header img {
    width: 200px; 

} */

.container {
    width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    flex-wrap: wrap;
}

.post   {
    width: 425px;
    max-width: 100%;
       
}

section article {
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    Cursor: pointer;
}

section article:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

section article h2, section article p{
    margin: 1rem;

}

p {
    text-align: justify;
}

.whatsapp {
    position: fixed;
    right: 0;
    bottom: 120px;
    background-color: rgb(44, 39, 39, 0.6);
    border-radius: 20% 0% 0% 20%;
  
}

article img {
    max-width: 100%;
    align-items: center;
        
}

footer {
    background-color: #222;
    padding: 3rem;
    color: #fff;
}

footer div {
    float:right;
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color:cornflowerblue;

}

.text {
    border-bottom: #fff solid;
    padding: 0.5rem;
    text-align: start;
}

@media (max-width:500px) {
    .container {
        width: 1350px;
        margin: 0 auto;
        display: block;
        grid-template-columns: 33.3% 33.3% 33.3%;
        flex-wrap: wrap;
    }
    
}